

body{
    background-color: black;
    color: white;
    
}
h1{
    color: white;
    font-size: 3rem;
    text-align: center;
}
h2{
    font-size: 2rem;
    text-align: center;
}
div{
    display: flex;
    justify-content: center;
}
button{
    font-size: 1.5rem;
    padding: 10px 15px;
    margin: 10px;
    background-color: green ;
    color: white;
    border: 1px solid transparent;
    border-radius: 10px;
}
.reset{
    background-color: red;
}
.start{
    background-color: rgb(207, 207, 45);
}